.idea/
backend/node_modules/
backend/coverage/
backend/src/client_build/
backend/build/
backend/built/
client/build/
client/node_modules
backend/test-report.xml
backend/.scannerwork
client/.scannerwork
client/dist


